<div id="content" class="mobileUI-main-content">
    <div id="content-inner">
        <h1><b>Create your New Blog</b></h1>
        <div ng-show="model.message" class="alert alert-info">
            {{model.message}}
        </div>
        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>
        <input class="form-control" ng-model="model.title" type="text" placeholder="Title">
        <div ng-model="model.text"
             id="htmlEditor"
             text-angular
             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['uploadImage'], ['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
        </div>
        <a class="btn btn-primary myButton" ng-click="model.createBlog()">Create</a>
        <a onclick="window.history.back()" class="btn btn-info">Back</a>
    </div>
</div>
